.define-number, .define-number div {
    display: inline-block;
}
.define-number div, .define-number span{
    margin:0 20px 0 0;
}

.d3ArraysStatisticalMethods {
    margin-top: 30px;
}

.method-name {
    font-weight: 600;
}

.bars text {
    fill: black;
    font-weight: 600;
    text-align: center;
}

.tick line{
    stroke: rgba(211, 211, 211, 0.24);
}
.all-method {
    margin-top: 10px;
    display: inline-block;
}

.check-box {
    width:100px;
    margin: 0 10px 5px 0;
    padding: 5px 5px 5px 5px;
    display: inline-block;
    border-radius: 10px;
}

.check-box:hover{
    opacity: .6;
}

.sub-graph .tick line{
    stroke: rgba(255,0,0,.2);
}


div.ui-dialog{
    background: white;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px #888888;
}

.ui-dialog-titlebar{
    margin:12% 0 0 15%;
    padding-top: 20px;
    font-size: 18px;
}

#dialog{
    margin:10% 0 0 15%;
}
.ui-button{
    margin-left:30px;
}
#dialog-form button{
    margin-left:10px;
}

#dialog-form{
    margin-top: 20px;
}