html
	title visualization
	head
		style
			include ./style/barChartWithDiv.css
		script(src="./javaScript/jquery-2.1.4.min.js")
	body
		div.mainContent
			div.chart
		script(src="./javaScript/barChartWithDiv.js")
