html
	title visualization
	head
		link(href="./style/common.css", rel='stylesheet')
		script(src="./javaScript/d3.v4.js")
	body
		div.mainContent
			h1 Exercise 16
			div.pieChart
		script(src="./javaScript/exercise14_15_16And17.js")
		script.
			window.onload = generateChartForExercise16();

