html
	title visualization
	head
		style
			include style/exercise0102And03.css
			include ./style/common.css
		script(src="./javaScript/d3.v4.js")
		script(src="./javaScript/jquery-2.1.4.min.js")
	body
		div.mainContent
			h1 Exercise 03
			div.chart
			div.sortButtons
				div.text Sort By :
				div.buttons
					button(id='name') Name
					button(id='score') Score
					button(id='subject') Subject
			div.legends
				div.legendsTitle Subjects :
				div.legendsValue
		script(src="./javaScript/exercise03.js")
