html
	title visualization
	head
		style
			include style/exercise0102And03.css
			include ./style/common.css
		script(src="./javaScript/d3.v4.js")
		script(src="./javaScript/jquery-2.1.4.min.js")
	body
		div.mainContent
			h1 Exercise 01 & 02
			div.chart
		script(src="./javaScript/exercise01.js")
