html
	title visualization
	head
		style
			include style/exercise04And05.css
			include ./style/common.css
		script(src="./javaScript/d3.v4.js")
		script(src="./javaScript/jquery-2.1.4.min.js")
	body
		div.mainContent
			h1 Exercise 05
			div.numberCards
		script(src="./javaScript/exercise05.js")
