html
	title visualization
	head
		style
			include ./style/common.css
			include style/exercise07And08.css
		script(src="./javaScript/d3.v4.js")
		script(src="./javaScript/jquery-2.1.4.min.js")
	body
		div.mainContent
			h1 Exercise 07 And 08
			div.lineChart
		script(src="./javaScript/exercise07And08.js")
