html
	title visualization
	head
		style
			include ./style/common.css
		script(src="./javaScript/d3.v4.js")
	body
		div.mainContent
			h1 Exercise 14
			div.pieChart
		script(src="./javaScript/exercise14.js")
		script.
			window.onload = generateChartForExercise14();
