html
	title visualization
	head
		link(href="./style/common.css", rel='stylesheet')
		link(href="./style/exercise10.css", rel='stylesheet')
		script(src="./javaScript/d3.v4.js")
		script(src="./javaScript/jquery-2.1.4.min.js")
	body
		div.mainContent
			h1 Exercise 10
			div.lineChart
		script(src="./javaScript/exercise10.js")
