html
	title visualization
	head
		style
			include ./style/numberTable.css
		script(src="./javaScript/d3.v4.js")
		script(src="./javaScript/jquery-2.1.4.min.js")
	body
		div.mainContent
			div.tableChart
			div.numberCards
		script(src="./javaScript/numberTable.js")
