html
	title visualization
	head
		style
			include ./style/common.css
		script(src="./javaScript/d3.v4.js")
		script(src="./javaScript/jquery-2.1.4.min.js")
		script(src="./javaScript/lodash.min.js")
	body
		div.mainContent
			div.chart
		script(src="./javaScript/common.js")
		script(src="./javaScript/lineChart.js")
