html
	title visualization
	head
		style
			include ./style/barChartWithDiv.css
		script(src="./javaScript/d3.v4.js")
		script(src="./javaScript/jquery-2.1.4.min.js")
	body
		div.mainContent
			div.chart
			div.legends
				div.legendsTitle Subjects :
				div.legendsValue
		script(src="./javaScript/studentScores.js")
