.mainContent{
    width: 100%;
    height: 100%;
    text-align: center;
}
.bar{
    background: steelblue;
    margin: 2px 0px 2px 0px;
    padding-right:10px;
    text-align: right;
    font-weight: 600;
}

.scoresBar {
    border-radius: 10px;
    margin: 5px 0 5px 0;
    padding-right: 10px;
    text-align: center;
    color: white;
}