
.line, .square, .triangle, circle ,line{
    fill: none;
    stroke-width:2px;
}

.line {
    stroke: gray;
}

.square {
    stroke: steelblue;
    border-radius: 10px;
}

.triangle {
    stroke: green;
}

circle {
    stroke: red;
}