.mainContent {
    width: 1600px;
    height: 100%;
}

svg{
    margin-bottom: 40px;
}
rect {
    fill: none;
    stroke-width: 1px;
    stroke: rgb(0, 0, 0);

}

.tHead{
    font-size:20px;
    font-weight:600;
}
.tBody{
    font-size: 14px;
    text-align: left;
}

.tBody:hover{
    fill: red;
}

.numberCard{
    display: inline-block;
    margin: 3px;
    text-align: center;
    vertical-align: top;
    border: solid 1px black;

}

.childCard{
    position: absolute;
    top:0;
}
