.mainContent {
    width: 1600px;
    height: 100%;
}

rect {
    fill: none;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);

}

.tHead{
    font-size:20px;
    font-weight:600;
}
.tBody{
    font-size: 14px;
    text-align: left;
}

.tBody:hover{
    fill: red;
}